server {
    listen ${PORT};

    server_name omkretsen.* www.omkretsen.*;

    client_max_body_size 0;

    location / {
        proxy_buffers 32 4k;
        proxy_pass https://romnorkrets.speiding.no/;
        proxy_set_header Accept-Encoding "";
        proxy_redirect https://romnorkrets.speiding.no/ https://omkretsen.no/;

        sub_filter 'romnorkrets.speiding.no' 'omkretsen.no';
        sub_filter_last_modified on;
        sub_filter_once off;
    }
}